@charset "UTF-8";


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 990px;
        height: 350px;
    }

    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1em;
        margin: 10px 0px;
    }
}